<%- include('./partials/head.ejs')%> 	<!-- Head -->
<body>
	<%- include('./partials/header.ejs')%> 	<!-- Header -->
	<!-- Banner -->
	<div class="banner">
		<img src="/images/img-home-banner.jpg" alt="Banner de ofertas">
	</div>
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.ejs">
						<%for (let i=0; i < products.lenght; i++){ %>
							<figure class="product-box_image">
								<img src=<%=products[i].foto%>>
							</figure>
							<article class="product-box_data">
								<h2><%products[i].nombre%>></h2>
								<p><%products[i].descripcion%></p>
								<p>Comentarios: 12</p>
							</article>
						<%}%>
					</a>
				</section>
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="product.ejs">
						<%for (let i=0; i < products.lenght; i++){ %>
							<figure class="product-box_image">
								<img src=<%=products[i].foto%>>
							</figure>
							<article class="product-box_data">
								<h2><%products[i].nombre%>></h2>
								<p><%products[i].descripcion%></p>
								<p>Comentarios: 12</p>
							</article>
						<%}%>
					</a>
				</section>
			</div>
		</div>
	</div>

	<%- include('./partials/footer.ejs')%> 	<!-- Footer -->

</body>	
</html>
