<%- include('./partials/head.ejs')%> <!--Head-->
<body>
	<%- include('./partials/header.ejs')%> <!--Header-->
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= products.nombre %></h2>
			<p class="product-detail-description">

			<% if (estaLogueado && user.id == products.usuarios.id) {%>
				<form action="/productos/product-edit/<%= products.id %>" method="GET">
		
					<div><input type="submit" value="Editar Producto"></div>

				</form>
				<form action="/productos/deleteProd/<%= products.id %>" method="POST">
					<input type= "hidden" name="id" value="<%= products.id %>">
	
					<div><input type="submit" value="Eliminar Producto"></div>

				</form>
				<% } %>
			</p>
			<p class="product-detail-description">
				<form action="/">

				</form>
			</p>
			<p class="product-detail-description">
				<a href="/users/profile/<%=products.usuarios.id %>" >
					<%= products.usuarios.username%><i class="fas fa-user"></i> 
				</a>
			</p>
			
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src='<%= products.img_url %>' alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= products.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let i =0; i < products.comment.length; i++){ %>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user">
									<strong>
										<a href="/users/profile/<%= products.comment[i].usuarios_id %>"><%= products.comment[i].usuarios.username%> </a>
									</strong>
									<p><%= products.comment[i].texto%> </p>
								</p>
							</div>
						</article>
						<%}%> 
					</section>
					<section class="comments">
						<% if (estaLogueado){%>
							<form class="form" action="/productos/product/<%= products.id %>" method="POST">
							<input class="form-input" type="text" name="comentario" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<% } else {%>
								<h3><a href="/users/login">Inicia sesion para comentar</a></h3>
							<%}%> 
						
					</section>
				</div>
			</div>
		</div>
	</div>
	
    <%- include('./partials/footer.ejs')%> <!--Footer-->
</body>	
</html>