<%- include('./partials/head.ejs')%> <!--Head-->
<body>
	<%- include('./partials/header.ejs')%> <!--Header-->
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= products[3].nombre %></h2> 
			<p class="product-detail-description">
				<a href="/productos/productAdd">Anadir producto</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src='<%= products[3].foto %>' alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= products[3].descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					
					<section class="comments">
						<% for (let i =0; i < comentarios.length; i++){ %>
						<article>
							<img src="https://via.placeholder.com/35" alt="">
							<div class="data">
								<p class="user"><strong><a href="/users/profile"><%= comentarios[i].nombreDeUsuario%> </a></strong>
								<%= comentarios[i].comentario%> </p>
							</div>
						</article>
						<%}%>
					</section>
					
					<section class="comments">
						<form class="form" action="/productos/product" method="GET">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
					</section>
				</div>
			</div>
		</div>
	</div>
	
    <%- include('./partials/footer.ejs')%> <!--Footer-->
</body>	
</html>