<%- include('./partials/head.ejs')%> <!--Head-->
<body>
   
	<%- include('./partials/header.ejs')%> 	<!-- Header -->
    <h2 class="col-12"> <i>   
        <form action="/productos/updateProd/<%= id%>" method="POST">  <!-- Aca falta rellenar el header con post y toda la movida! -->
            <input type= "text" name="nombre" value="" placeholder="<%= nombre %>">

            <input type= "text" name="descripcion" value="" placeholder="<%= descripcion %>" >

            <input type= "text" name="img_url" value="" placeholder="<%= img_url %>">

            <input type="submit" value ="Guardar cambios realizados">
        </form> 
    </i></h2>
	<%- include('./partials/footer.ejs')%> <!--Footer-->
</body>
</html>