<%- include('./partials/head.ejs')%> <!-- Head -->
<body>
	<%- include('./partials/headerlogueado.ejs')%> <!-- Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="https://via.placeholder.com/150" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> 
						Usuario: <%= infoUsuario[0].username%>
						<a href="/users/edit">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li><%= infoUsuario[0].mail%></li>
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<div class="col-12 col-sm-6 col-lg-3">
				<% for (let i=0; i<4; i++){%> 
					<section class="product-box">
					<a href="product.ejs">
						<figure class="product-box_image">
							<img src= <%= products[i].foto %> alt="img del producto">
						</figure>
						<article class="product-box_data">
							<h2> <%= products[i].nombre %> 
							<p><%= products[i].descripcion %></p>
							<p>Comentarios: <%= comentarios.comentario%> </p>
						</article>
					</a>
				</section>
				
				<%}%>
				<!--Habria que borrar lo de abajo tambien, pero no nos funcionan los fors porque dice que products es undefined-->
			</div>
		</div>
	</div>
	<!-- /Mis productos -->
    <%- include('./partials/footer.ejs')%> <!-- Footer -->
</body>	
</html>