 
<%- include('./partials/head.ejs')%> <!--Head-->
<body>
   
	<%- include('./partials/header.ejs')%> 	<!-- Header -->
    
    <form>  <!-- Aca falta rellenar el header con post y toda la movida! -->
        <input type= "text" name="username" value="<%= user.username %>">

        <input type= "text" name="email" value="<%= user.email%>">

        <input type= "date" name="fecha" value="<%= user.fecha_de_nac%>">

        <input type="number" name="text" value="<%= user.dni%>">

        <div><input type="submit" value="Guardar Cambios"></div>

    </form> 
    
	<%- include('./partials/footer.ejs')%> <!--Footer-->
</body>
</html>
