 
<%- include('./partials/head.ejs')%> <!--Head-->
<body>
   
	<%- include('./partials/header.ejs')%> 	<!-- Header -->

    <form>
        <input name="username" value="<%= user.username %>">

        <input name="email" value="<%= user.email%>">

        <input name="text" value="<%= user.fecha_de_nac%>">

        <input name="text" value="<%= user.dni%>">

        <div><input type="submit" value="Guardar Cambios"></div>

    </form> 
    
	<%- include('./partials/footer.ejs')%> <!--Footer-->
</body>
</html>
