 
<%- include('./partials/head.ejs')%> <!--Head-->
<body>
   
	<%- include('./partials/headerlogueado.ejs')%> <!--Header-->

    <form>
        <input name="username" placeholder="<%= infoUsuario.username %>">

        <input name="email" placeholder="<%= infoUsuario.mail%>">

        <input name="text" placeholder="<%= infoUsuario.nacimiento%>">

        <input name="text" placeholder="<%= infoUsuario.dni%>">

    </form> 
    
	<%- include('./partials/footer.ejs')%> <!--Footer-->
</body>
</html>
