<%- include('./partials/head.ejs')%> <!-- Head -->
<body>
	<%- include('./partials/header.ejs')%> 	<!-- Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="https://via.placeholder.com/150" alt="foto de perfil" class="foto-perfil">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"> 
						Usuario: <%= user.username%>
						<a href="/users/edit/<%= user.id %>">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<ul class="">
						<li><%= user.mail%></li>
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Mis productos</h2>
			</div>
			<!-- Show mis productos -->
			<!-- <%//for (let i=0; i < 4; i++){ %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/productos/product">
							<div>
								<figure class="product-box_image">
									<img src=<%= //product[i].foto %>>
								</figure>
								<article class="product-box_data">
									<h2><%= //product[i].nombre %></h2>
									<p><%= //product[i].descripcion %></p>
									<p>Comentarios: <%= //comentarios.length %></p>
								</article>
							</div>
						</a>
					</section>
				</div>
				<%//}%> -->
		</div>
	</div>
	<!-- /Mis productos -->
    <%- include('./partials/footer.ejs')%> <!-- Footer -->
</body>	
</html>