 
<%- include('./partials/head.ejs')%> <!--Head-->
<body>
   
	<%- include('./partials/header.ejs')%> 	<!-- Header -->

    <form>
        <input name="username" placeholder="<%= infoUsuario[0].username %>">

        <input name="email" placeholder="<%= infoUsuario[0].mail%>">

        <input name="text" placeholder="<%= infoUsuario[0].nacimiento%>">

        <input name="text" placeholder="<%= infoUsuario[0].dni%>">

        <div><input type="submit" value="Guardar Cambios"></div>

    </form> 
    
	<%- include('./partials/footer.ejs')%> <!--Footer-->
</body>
</html>
