<%- include('./partials/head.ejs')%> <!-- Head -->



<body>
	<%- include('./partials/header.ejs')%> <!-- Header -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<%if (encontroResultado) {%>
			<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda: "<%= loQueBuscaste %>"</h2>
			</div>
		</div>
			<div class="product-detail">
				<div class="row">
					<%for (let i=0; i < resultados.length; i++){ %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/productos/product/<%- resultados[i].id %>">
								<div>
									<figure class="product-box_image">
										<img src=<%= resultados[i].img_url %>>
									</figure>
									<article class="product-box_data">
										<h2><%= resultados[i].nombre %></h2>
										<p><%= resultados[i].descripcion %></p>
										<p>Usuario: <%= resultados[i].usuarios.username %></p>
									</article>
								</div>
							</a>
						</section>
					</div>
					<%} %>
				</div>
			</div>
		</div>
		<%}else { %>
			<div class="col-12"></div>
				<h1 class="products-title">No se encontraron resultados para: "<%= loQueBuscaste %>"</h1>
			</div>
		<%}%>
	</div>
    <%- include('./partials/footer.ejs')%> <!-- Footer -->

</body>
</html>