<%- include('./partials/head.ejs')%> <!-- Head -->



<body>
	<%- include('./partials/header.ejs')%> <!-- Header -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<%if (encontroResultado) {%>
			<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda: "<%= loQueBuscaste %>"</h2>
			</div>
		</div>
			<div class="product-detail">
				<div class="row">
					<%for(let i = 0; i<resultados.length; i++){%>
						<article class="col-12 col-lg-8 product-detail-info">
							<a href="/productos/product">
								<img src='<%= resultados[i].img_url %>' alt="" class="product-detail-img">
								<p class="product-detail-description">
								<%= resultados[i].descripcion %></p>
							</a>
					</article>
					<%}%>
				</div>
			</div>
		<%}else{ %>

			<div class="col-12">
				<h1 class="products-title">No se encontraron resultados para: "<%= loQueBuscaste %>"</h1>
			</div>
			<%}%>
		
		</div>
	</div>
    <%- include('./partials/footer.ejs')%> <!-- Footer -->

</body>
</html>